/* Universal styles */

html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

body {
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  font-size: 4rem;
  color: #2d3c49;
  font-weight: lighter;
}

h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bolder;
  color: #2d3c49;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
  color: #7d97ad;
}

figcaption {
  font-size: 1.5rem;
  color: #2d3c49;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Header style */

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
  padding-bottom: 1rem;
  border-bottom: solid thick #7d97ad;
}

header img {
  width: 15%;
  height: 15%;
}

.header-presentation {
  text-align: end;
}

/* Banner style */

.banner {
  margin-top: 1rem;
  margin-bottom: 1.25rem;
}

.banner img {
  width: 100%;
}

/* Featured style */

.featured {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.appify,
.sunflower,
.bokeh {
  width: 30%;
  height: auto;
}

.featured img {
  width: 100%;
  height: 75%;
}

figcaption {
  text-align: center;
  margin-top: 0.5rem;
}