/* Universal styles */

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

header,
section {
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
  color: #2d3c49;
  font-weight: lighter;
  margin-bottom: 0.2em;
}

h2 {
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: bolder;
  color: #2d3c49;
}

h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #7d97ad;
  margin-left: 5%;
}

/* Header style */

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0.75em;
  margin-top: 0.75em;
  padding-bottom: 1em;
  border-bottom: solid thick #7d97ad;
}

header img {
  width: 50%;
  height: 50%;
}

.header-presentation {
  text-align: center;
}

/* Banner style */

.banner {
  margin-top: 1em;
  margin-bottom: 1em;
}

.banner img {
  width: 100%;
}

/* Featured style */

.featured {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1em;
  margin-left: 5%;
  margin-right: 5%;
}

.appify,
.sunflower,
.bokeh {
  width: 100%;
  height: auto;
}

.featured img {
  width: 100%;
  height: 200px;
}

figcaption {
  font-size: 1em;
  color: #2d3c49;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* iPad Responsive style */

@media screen and (min-width: 768px) {
  header {
    justify-content: space-between;
  }
  header img {
    width: 25%;
    height: 25%;
  }
  .header-presentation {
    padding-top: 1rem;
    text-align: end;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 1em;
  }
  h3 {
    font-size: 2em;
  }
  .featured {
    justify-content: space-around;
    margin-left: 0;
    margin-right: 0;
  }
  .appify,
  .sunflower,
  .bokeh {
    width: 40%;
    padding-top: 0.75em;
  }
}

/* Desktop Responsive style*/

@media screen and (min-width: 1440px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 1.3em;
  }
  h3 {
    font-size: 2em;
    margin-left: 0;
  }
  header {
    justify-content: space-between;
  }
  header img {
    width: 15%;
    height: 15%;
  }
  .header-presentation {
    text-align: end;
  }
  .featured {
    margin-left: 0;
    margin-right: 0;
    justify-content: space-between;
  }
  .appify,
  .sunflower,
  .bokeh {
    width: 30%;
    height: auto;
  }
}